In [98]:
!pip install tensorflow
import pandas as pd
import matplotlib.pyplot as plt

Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.15.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.5.26)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.9.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (16.0.6)
Requirement already satisfied: ml-dtypes~=0.2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.23.5)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.5.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.34.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.60.0)
Requirement already satisfied: tensorboard<2.16,>=2.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.15.1)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.15.0)
Requirement already satisfied: keras<2.16,>=2.15.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.15.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.42.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (1.2.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (3.5.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (2.31.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (3.0.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (5.3.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (2023.11.17)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.16,>=2.15->tensorflow) (2.1.3)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (0.5.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow) (3.2.2)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
root_dir = "/content/drive/MyDrive/CS 297/mimic-iv-clinical-database-demo-2.2"
admissionsPath = root_dir+"/hosp/admissions.csv.gz"
patientsPath = root_dir + "/hosp/patients.csv.gz"
prescriptionsPath = root_dir + "/hosp/prescriptions.csv.gz"
procedureEventsPath = root_dir + "/icu/procedureevents.csv.gz"
inputEventsPath = root_dir + "/icu/inputevents.csv.gz"
d_itemsPath = root_dir + "/icu/d_items.csv.gz"
chartEventsPath = root_dir + "/icu/chartevents.csv.gz"

SEED = 50

admissionsData = pd.read_csv(admissionsPath)
patientsData = pd.read_csv(patientsPath)
prescriptionsData = pd.read_csv(prescriptionsPath)
procedureEventsData = pd.read_csv(procedureEventsPath)
inputEventsData = pd.read_csv(inputEventsPath)
d_itemsData = pd.read_csv(d_itemsPath)
chartEventsData = pd.read_csv(chartEventsPath)

In [4]:
chartEventsData.head()

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:45:00,225054,On,NaN,NaN,0.0
1,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:43:00,223769,100,100.0,%,0.0
2,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:47:00,223956,Atrial demand,NaN,NaN,0.0
3,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:47:00,224866,Yes,NaN,NaN,0.0
4,10005817,20626031,32604416,6770.0,2132-12-16 00:00:00,2132-12-15 23:45:00,227341,No,0.0,NaN,0.0

In [5]:
chartEventsData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668862 entries, 0 to 668861
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   subject_id    668862 non-null  int64
 1   hadm_id       668862 non-null  int64
 2   stay_id       668862 non-null  int64
 3   caregiver_id  644622 non-null  float64
 4   charttime     668862 non-null  object
 5   storetime     667703 non-null  object
 6   itemid        668862 non-null  int64
 7   value         668861 non-null  object
 8   valuenum      257474 non-null  float64
 9   valueuom      162571 non-null  object
 10  warning       667703 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 56.1+ MB

In [6]:
d_itemsData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4014 entries, 0 to 4013
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   itemid           4014 non-null   int64
 1   label            4014 non-null   object
 2   abbreviation     4014 non-null   object
 3   linksto          4014 non-null   object
 4   category         4014 non-null   object
 5   unitname         1592 non-null   object
 6   param_type       4014 non-null   object
 7   lownormalvalue   19 non-null     float64
 8   highnormalvalue  22 non-null     float64
dtypes: float64(2), int64(1), object(6)
memory usage: 282.4+ KB

In [7]:
d_itemsData.head()

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,226228,Gender,Gender,chartevents,ADT,NaN,Text,NaN,NaN
1,226545,Race,Race,chartevents,ADT,NaN,Text,NaN,NaN
2,229877,Suction events (CH),Suction events (CH),chartevents,ECMO,NaN,Text,NaN,NaN
3,229875,Oxygenator visible (CH),Oxygenator visible (CH),chartevents,ECMO,NaN,Text,NaN,NaN
4,229266,Cannula sites visually inspected (ECMO),Cannula sites visually inspected (ECMO),chartevents,ECMO,NaN,Text,NaN,NaN

In [8]:
d_itemsData = d_itemsData.drop(columns=['abbreviation', 'linksto', 'unitname', 'param_type', 'lownormalvalue', 'highnormalvalue'])

In [9]:
d_itemsData.head()

   itemid                                    label category
0  226228                                   Gender      ADT
1  226545                                     Race      ADT
2  229877                      Suction events (CH)     ECMO
3  229875                  Oxygenator visible (CH)     ECMO
4  229266  Cannula sites visually inspected (ECMO)     ECMO

In [10]:
inputEventsData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20404 entries, 0 to 20403
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   subject_id                     20404 non-null  int64
 1   hadm_id                        20404 non-null  int64
 2   stay_id                        20404 non-null  int64
 3   caregiver_id                   20404 non-null  int64
 4   starttime                      20404 non-null  object
 5   endtime                        20404 non-null  object
 6   storetime                      20404 non-null  object
 7   itemid                         20404 non-null  int64
 8   amount                         20404 non-null  float64
 9   amountuom                      20404 non-null  object
 10  rate                           11038 non-null  float64
 11  rateuom                        11038 non-null  object
 12  orderid                        20404 non-null  int64
 13  linkorderid                    20404 non-null  int64
 14  ordercategoryname              20404 non-null  object
 15  secondaryordercategoryname     14144 non-null  object
 16  ordercomponenttypedescription  20404 non-null  object
 17  ordercategorydescription       20404 non-null  object
 18  patientweight                  20404 non-null  float64
 19  totalamount                    17090 non-null  float64
 20  totalamountuom                 17092 non-null  object
 21  isopenbag                      20404 non-null  int64
 22  continueinnextdept             20404 non-null  int64
 23  statusdescription              20404 non-null  object
 24  originalamount                 20404 non-null  float64
 25  originalrate                   20404 non-null  float64
dtypes: float64(6), int64(9), object(11)
memory usage: 4.0+ MB

In [11]:
inputEventsData = inputEventsData[['subject_id', 'hadm_id', 'stay_id', 'starttime', 'endtime', 'storetime', 'itemid', 'amount', 'amountuom', 'rate', 'rateuom', 'ordercategoryname', 'secondaryordercategoryname']]

In [12]:
inputEventsData.head()

,subject_id,hadm_id,stay_id,starttime,endtime,storetime,itemid,amount,amountuom,rate,rateuom,ordercategoryname,secondaryordercategoryname
0,10005817,20626031,32604416,2132-12-16 19:50:00,2132-12-16 19:51:00,2132-12-16 19:50:00,225798,1.0,dose,NaN,NaN,08-Antibiotics (IV),02-Fluids (Crystalloids)
1,10005817,20626031,32604416,2132-12-15 20:15:00,2132-12-15 20:16:00,2132-12-15 20:11:00,225798,1.0,dose,NaN,NaN,08-Antibiotics (IV),02-Fluids (Crystalloids)
2,10005817,20626031,32604416,2132-12-17 09:15:00,2132-12-17 09:16:00,2132-12-17 09:28:00,225798,1.0,dose,NaN,NaN,08-Antibiotics (IV),02-Fluids (Crystalloids)
3,10005817,20626031,32604416,2132-12-16 09:36:00,2132-12-16 09:37:00,2132-12-16 09:37:00,225798,1.0,dose,NaN,NaN,08-Antibiotics (IV),02-Fluids (Crystalloids)
4,10005817,20626031,32604416,2132-12-15 20:10:00,2132-12-15 21:10:00,2132-12-15 20:10:00,221456,2.0,grams,NaN,NaN,02-Fluids (Crystalloids),Additive (Crystalloid)

In [13]:
# Perform the join based on the common field
updatedInputEventsData = pd.merge(d_itemsData, inputEventsData, on=['itemid'], how='inner')

In [14]:
updatedInputEventsData.head()

,itemid,label,category,subject_id,hadm_id,stay_id,starttime,endtime,storetime,amount,amountuom,rate,rateuom,ordercategoryname,secondaryordercategoryname
0,225879,Levofloxacin,Antibiotics,10019777,27738145,34578020,2187-02-13 11:56:00,2187-02-13 11:57:00,2187-02-13 11:56:00,1.0,dose,NaN,NaN,08-Antibiotics (IV),02-Fluids (Crystalloids)
1,225879,Levofloxacin,Antibiotics,10019777,27738145,34578020,2187-02-15 10:03:00,2187-02-15 10:04:00,2187-02-15 10:03:00,1.0,dose,NaN,NaN,08-Antibiotics (IV),02-Fluids (Crystalloids)
2,225879,Levofloxacin,Antibiotics,10019777,27738145,34578020,2187-02-14 10:31:00,2187-02-14 10:32:00,2187-02-14 10:16:00,1.0,dose,NaN,NaN,08-Antibiotics (IV),02-Fluids (Crystalloids)
3,225879,Levofloxacin,Antibiotics,10038933,25129047,32166508,2148-09-14 14:30:00,2148-09-14 14:31:00,2148-09-14 15:24:00,1.0,dose,NaN,NaN,08-Antibiotics (IV),02-Fluids (Crystalloids)
4,225879,Levofloxacin,Antibiotics,10038933,25129047,32166508,2148-09-15 13:23:00,2148-09-15 13:24:00,2148-09-15 13:23:00,1.0,dose,NaN,NaN,08-Antibiotics (IV),02-Fluids (Crystalloids)

In [15]:
chartEventsData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668862 entries, 0 to 668861
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   subject_id    668862 non-null  int64
 1   hadm_id       668862 non-null  int64
 2   stay_id       668862 non-null  int64
 3   caregiver_id  644622 non-null  float64
 4   charttime     668862 non-null  object
 5   storetime     667703 non-null  object
 6   itemid        668862 non-null  int64
 7   value         668861 non-null  object
 8   valuenum      257474 non-null  float64
 9   valueuom      162571 non-null  object
 10  warning       667703 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 56.1+ MB

In [16]:
chartEventsData = chartEventsData.drop(columns=['caregiver_id'])

In [17]:
chartEventsData.head()

,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10005817,20626031,32604416,2132-12-16 00:00:00,2132-12-15 23:45:00,225054,On,NaN,NaN,0.0
1,10005817,20626031,32604416,2132-12-16 00:00:00,2132-12-15 23:43:00,223769,100,100.0,%,0.0
2,10005817,20626031,32604416,2132-12-16 00:00:00,2132-12-15 23:47:00,223956,Atrial demand,NaN,NaN,0.0
3,10005817,20626031,32604416,2132-12-16 00:00:00,2132-12-15 23:47:00,224866,Yes,NaN,NaN,0.0
4,10005817,20626031,32604416,2132-12-16 00:00:00,2132-12-15 23:45:00,227341,No,0.0,NaN,0.0

In [18]:
# Perform the join based on the common field
updatedChartEventsData = pd.merge(d_itemsData, chartEventsData, on=['itemid'], how='inner')

In [19]:
updatedChartEventsData

,itemid,label,category,subject_id,hadm_id,stay_id,charttime,storetime,value,valuenum,valueuom,warning
0,227980,Intra Aortic Balloon Pump Setting,IABP,10002495,24982426,36753294,2141-05-24 01:00:00,2141-05-24 01:07:00,1:1,NaN,NaN,0.0
1,227980,Intra Aortic Balloon Pump Setting,IABP,10002495,24982426,36753294,2141-05-24 02:00:00,2141-05-24 02:49:00,1:2,NaN,NaN,0.0
2,227980,Intra Aortic Balloon Pump Setting,IABP,10002495,24982426,36753294,2141-05-24 03:00:00,2141-05-24 02:49:00,1:2,NaN,NaN,0.0
3,227980,Intra Aortic Balloon Pump Setting,IABP,10002495,24982426,36753294,2141-05-24 04:00:00,2141-05-24 04:25:00,1:1,NaN,NaN,0.0
4,227980,Intra Aortic Balloon Pump Setting,IABP,10002495,24982426,36753294,2141-05-24 05:00:00,2141-05-24 05:56:00,1:1,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
668857,227468,Fibrinogen,Labs,10003400,23559586,34577403,2137-08-10 21:55:00,2137-08-11 00:55:00,247,247.0,mg/dL,0.0
668858,227463,Cortisol,Labs,10039708,28258130,33281088,2140-01-23 19:30:00,2140-01-23 20:50:00,7.4,7.4,ug/dL,0.0
668859,227463,Cortisol,Labs,10039708,28258130,33281088,2140-01-24 05:51:00,2140-01-24 09:31:00,24.6,24.6,ug/dL,1.0
668860,227463,Cortisol,Labs,10020306,23052851,38540883,2135-01-22 02:27:00,2135-01-22 11:04:00,17.8,17.8,ug/dL,0.0
668861,227463,Cortisol,Labs,10021487,28998349,38197705,2116-12-04 11:18:00,2116-12-04 14:18:00,37,37.0,ug/dL,1.0

In [20]:
updatedInputEventsData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20404 entries, 0 to 20403
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   itemid                      20404 non-null  int64
 1   label                       20404 non-null  object
 2   category                    20404 non-null  object
 3   subject_id                  20404 non-null  int64
 4   hadm_id                     20404 non-null  int64
 5   stay_id                     20404 non-null  int64
 6   starttime                   20404 non-null  object
 7   endtime                     20404 non-null  object
 8   storetime                   20404 non-null  object
 9   amount                      20404 non-null  float64
 10  amountuom                   20404 non-null  object
 11  rate                        11038 non-null  float64
 12  rateuom                     11038 non-null  object
 13  ordercategoryname           20404 non-null  object
 14  secondaryordercategoryname  14144 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 2.5+ MB

In [21]:
updatedChartEventsData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668862 entries, 0 to 668861
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   itemid      668862 non-null  int64
 1   label       668862 non-null  object
 2   category    668862 non-null  object
 3   subject_id  668862 non-null  int64
 4   hadm_id     668862 non-null  int64
 5   stay_id     668862 non-null  int64
 6   charttime   668862 non-null  object
 7   storetime   667703 non-null  object
 8   value       668861 non-null  object
 9   valuenum    257474 non-null  float64
 10  valueuom    162571 non-null  object
 11  warning     667703 non-null  float64
dtypes: float64(2), int64(4), object(6)
memory usage: 66.3+ MB

In [22]:
updatedInputEventsData2 = updatedInputEventsData.drop(columns=['starttime', 'endtime'])

In [23]:
updatedInputEventsData2['storetime']

0        2187-02-13 11:56:00
1        2187-02-15 10:03:00
2        2187-02-14 10:16:00
3        2148-09-14 15:24:00
4        2148-09-15 13:23:00
                ...
20399    2125-09-26 05:56:00
20400    2137-08-28 05:26:00
20401    2149-10-03 22:16:00
20402    2149-10-03 14:28:00
20403    2149-10-03 02:20:00
Name: storetime, Length: 20404, dtype: object

In [24]:
updatedInputEventsData2['storetime'] = pd.to_datetime(updatedInputEventsData2['storetime'])
updatedChartEventsData['storetime'] = pd.to_datetime(updatedChartEventsData['storetime'])

In [25]:
updatedInputEventsData2_sorted = updatedInputEventsData2.sort_values(by='storetime')
updatedChartEventsData_sorted = updatedChartEventsData.sort_values(by='storetime')

In [26]:
updatedInputEventsData2_sorted.dropna(subset=['storetime'], inplace=True)
updatedChartEventsData_sorted.dropna(subset=['storetime'], inplace=True)

In [27]:
#data = pd.merge(updatedInputEventsData2_sorted, updatedChartEventsData, on=['subject_id', 'hadm_id', 'stay_id'], how='inner')

In [28]:
# Assuming 'time' is the common time column
merged_data = pd.merge_asof(updatedInputEventsData2_sorted, updatedChartEventsData_sorted, on='storetime')

In [29]:
merged_data

,itemid_x,label_x,category_x,subject_id_x,hadm_id_x,stay_id_x,storetime,amount,amountuom,rate,...,label_y,category_y,subject_id_y,hadm_id_y,stay_id_y,charttime,value,valuenum,valueuom,warning
0,226361,Pre-Admission/Non-ICU Intake,Fluids/Intake,10001725,25563031,31205490,2110-04-11 18:43:00,1000.000000,ml,NaN,...,Teaching directed toward,Adm History/FHPA,10001725,25563031,31205490,2110-04-11 18:40:00,Family Member,NaN,NaN,0.0
1,225158,NaCl 0.9%,Fluids/Intake,10001725,25563031,31205490,2110-04-11 22:51:00,114.666670,ml,10.000000,...,Non Invasive Blood Pressure diastolic,Routine Vital Signs,10001725,25563031,31205490,2110-04-11 21:00:00,74,74.0,mmHg,0.0
2,226452,PO Intake,Fluids/Intake,10001725,25563031,31205490,2110-04-11 22:51:00,120.000000,ml,NaN,...,Non Invasive Blood Pressure diastolic,Routine Vital Signs,10001725,25563031,31205490,2110-04-11 21:00:00,74,74.0,mmHg,0.0
3,229072,Ketorolac (Toradol),Medications,10001725,25563031,31205490,2110-04-11 22:52:00,15.000001,mg,NaN,...,Pain Assessment Method,Pain/Sedation,10001725,25563031,31205490,2110-04-11 22:00:00,Patient Verbalized,NaN,NaN,0.0
4,225944,Sterile Water,Fluids/Intake,10001725,25563031,31205490,2110-04-12 00:34:00,49.999999,ml,25.000000,...,Non Invasive Blood Pressure systolic,Routine Vital Signs,10001725,25563031,31205490,2110-04-12 00:00:00,88,88.0,mmHg,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20399,225975,Heparin Sodium (Prophylaxis),Medications,10027602,21477991,32453351,2201-12-13 12:29:00,1.000000,dose,NaN,...,Alarms On,Alarms,10027602,21477991,32453351,2201-12-13 12:00:00,1,1.0,NaN,0.0
20400,229010,Jevity 1.2 (Full),Nutrition - Enteral,10027602,21477991,32453351,2201-12-13 16:51:00,210.298103,ml,65.040649,...,Pain Present,Pain/Sedation,10027602,21477991,32453351,2201-12-13 16:49:00,Yes,NaN,NaN,0.0
20401,225944,Sterile Water,Fluids/Intake,10027602,21477991,32453351,2201-12-13 16:51:00,49.999999,ml,50.000000,...,Pain Present,Pain/Sedation,10027602,21477991,32453351,2201-12-13 16:49:00,Yes,NaN,NaN,0.0
20402,222011,Magnesium Sulfate,Medications,10027602,21477991,32453351,2201-12-13 16:51:00,2.000000,grams,NaN,...,Pain Present,Pain/Sedation,10027602,21477991,32453351,2201-12-13 16:49:00,Yes,NaN,NaN,0.0
20403,229010,Jevity 1.2 (Full),Nutrition - Enteral,10027602,21477991,32453351,2201-12-13 16:51:00,399.999992,ml,65.217392,...,Pain Present,Pain/Sedation,10027602,21477991,32453351,2201-12-13 16:49:00,Yes,NaN,NaN,0.0

In [30]:
filtered_df = merged_data.query("subject_id_x == subject_id_y and hadm_id_x==hadm_id_y and stay_id_x==stay_id_y")

In [31]:
filtered_df = filtered_df.drop(columns = ['subject_id_x', 'hadm_id_x', 'stay_id_x'])

In [32]:
filtered_df = filtered_df.rename(columns = {'subject_id_y':'subject_id', 'hadm_id_y': 'hadm_id', 'stay_id_y':'stay_id'})

In [33]:
filtered_df

,itemid_x,label_x,category_x,storetime,amount,amountuom,rate,rateuom,ordercategoryname,secondaryordercategoryname,...,label_y,category_y,subject_id,hadm_id,stay_id,charttime,value,valuenum,valueuom,warning
0,226361,Pre-Admission/Non-ICU Intake,Fluids/Intake,2110-04-11 18:43:00,1000.000000,ml,NaN,NaN,16-Pre Admission/Non-ICU,NaN,...,Teaching directed toward,Adm History/FHPA,10001725,25563031,31205490,2110-04-11 18:40:00,Family Member,NaN,NaN,0.0
1,225158,NaCl 0.9%,Fluids/Intake,2110-04-11 22:51:00,114.666670,ml,10.000000,mL/hour,02-Fluids (Crystalloids),Additive (Crystalloid),...,Non Invasive Blood Pressure diastolic,Routine Vital Signs,10001725,25563031,31205490,2110-04-11 21:00:00,74,74.0,mmHg,0.0
2,226452,PO Intake,Fluids/Intake,2110-04-11 22:51:00,120.000000,ml,NaN,NaN,14-Oral/Gastric Intake,NaN,...,Non Invasive Blood Pressure diastolic,Routine Vital Signs,10001725,25563031,31205490,2110-04-11 21:00:00,74,74.0,mmHg,0.0
3,229072,Ketorolac (Toradol),Medications,2110-04-11 22:52:00,15.000001,mg,NaN,NaN,05-Med Bolus,NaN,...,Pain Assessment Method,Pain/Sedation,10001725,25563031,31205490,2110-04-11 22:00:00,Patient Verbalized,NaN,NaN,0.0
4,225944,Sterile Water,Fluids/Intake,2110-04-12 00:34:00,49.999999,ml,25.000000,mL/hour,02-Fluids (Crystalloids),Additive (Crystalloid),...,Non Invasive Blood Pressure systolic,Routine Vital Signs,10001725,25563031,31205490,2110-04-12 00:00:00,88,88.0,mmHg,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20399,225975,Heparin Sodium (Prophylaxis),Medications,2201-12-13 12:29:00,1.000000,dose,NaN,NaN,11-Prophylaxis (Non IV),NaN,...,Alarms On,Alarms,10027602,21477991,32453351,2201-12-13 12:00:00,1,1.0,NaN,0.0
20400,229010,Jevity 1.2 (Full),Nutrition - Enteral,2201-12-13 16:51:00,210.298103,ml,65.040649,mL/hour,13-Enteral Nutrition,Additives (EN),...,Pain Present,Pain/Sedation,10027602,21477991,32453351,2201-12-13 16:49:00,Yes,NaN,NaN,0.0
20401,225944,Sterile Water,Fluids/Intake,2201-12-13 16:51:00,49.999999,ml,50.000000,mL/hour,02-Fluids (Crystalloids),Additive (Crystalloid),...,Pain Present,Pain/Sedation,10027602,21477991,32453351,2201-12-13 16:49:00,Yes,NaN,NaN,0.0
20402,222011,Magnesium Sulfate,Medications,2201-12-13 16:51:00,2.000000,grams,NaN,NaN,02-Fluids (Crystalloids),Additive (Crystalloid),...,Pain Present,Pain/Sedation,10027602,21477991,32453351,2201-12-13 16:49:00,Yes,NaN,NaN,0.0
20403,229010,Jevity 1.2 (Full),Nutrition - Enteral,2201-12-13 16:51:00,399.999992,ml,65.217392,mL/hour,13-Enteral Nutrition,Additives (EN),...,Pain Present,Pain/Sedation,10027602,21477991,32453351,2201-12-13 16:49:00,Yes,NaN,NaN,0.0

In [34]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20352 entries, 0 to 20403
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   itemid_x                    20352 non-null  int64
 1   label_x                     20352 non-null  object
 2   category_x                  20352 non-null  object
 3   storetime                   20352 non-null  datetime64[ns]
 4   amount                      20352 non-null  float64
 5   amountuom                   20352 non-null  object
 6   rate                        10996 non-null  float64
 7   rateuom                     10996 non-null  object
 8   ordercategoryname           20352 non-null  object
 9   secondaryordercategoryname  14102 non-null  object
 10  itemid_y                    20352 non-null  int64
 11  label_y                     20352 non-null  object
 12  category_y                  20352 non-null  object
 13  subject_id                  20352 non-null  int64
 14  hadm_id                     20352 non-null  int64
 15  stay_id                     20352 non-null  int64
 16  charttime                   20352 non-null  object
 17  value                       20352 non-null  object
 18  valuenum                    12719 non-null  float64
 19  valueuom                    9556 non-null   object
 20  warning                     20352 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(5), object(11)
memory usage: 3.4+ MB

In [35]:
filtered_df.size

427392

In [36]:
filtered_df['itemid_y'].unique

<bound method Series.unique of 0        225131
1        220180
2        220180
3        223795
4        220179
          ...
20399    224641
20400    223781
20401    223781
20402    223781
20403    223781
Name: itemid_y, Length: 20352, dtype: int64>

In [37]:
from sklearn.preprocessing import OneHotEncoder

In [38]:
def oneHotEncoder(columnName, df, newColumnNames):
  #creating instance of one-hot-encoder
  encoder = OneHotEncoder(handle_unknown='ignore')
  #perform one-hot encoding on 'team' column
  encoder_df = pd.DataFrame(encoder.fit_transform(df[[columnName]]).toarray())
  #print(encoder_df)
  #merge one-hot encoded columns back with original DataFrame
  final_df = df.join(encoder_df)
  final_df = final_df.drop(columns=columnName)
  columnRenaming={}
  for i in range(len(newColumnNames)):
    columnRenaming[i]=newColumnNames[i]
  #print(columnRenaming)
  #final_df = final_df.rename(columns = columnRenaming)
  return final_df

In [39]:
encodedData = oneHotEncoder('itemid_x', filtered_df, 'none')

In [40]:
encodedData

,label_x,category_x,storetime,amount,amountuom,rate,rateuom,ordercategoryname,secondaryordercategoryname,itemid_y,...,149,150,151,152,153,154,155,156,157,158
0,Pre-Admission/Non-ICU Intake,Fluids/Intake,2110-04-11 18:43:00,1000.000000,ml,NaN,NaN,16-Pre Admission/Non-ICU,NaN,225131,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NaCl 0.9%,Fluids/Intake,2110-04-11 22:51:00,114.666670,ml,10.000000,mL/hour,02-Fluids (Crystalloids),Additive (Crystalloid),220180,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,PO Intake,Fluids/Intake,2110-04-11 22:51:00,120.000000,ml,NaN,NaN,14-Oral/Gastric Intake,NaN,220180,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Ketorolac (Toradol),Medications,2110-04-11 22:52:00,15.000001,mg,NaN,NaN,05-Med Bolus,NaN,223795,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Sterile Water,Fluids/Intake,2110-04-12 00:34:00,49.999999,ml,25.000000,mL/hour,02-Fluids (Crystalloids),Additive (Crystalloid),220179,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20399,Heparin Sodium (Prophylaxis),Medications,2201-12-13 12:29:00,1.000000,dose,NaN,NaN,11-Prophylaxis (Non IV),NaN,224641,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20400,Jevity 1.2 (Full),Nutrition - Enteral,2201-12-13 16:51:00,210.298103,ml,65.040649,mL/hour,13-Enteral Nutrition,Additives (EN),223781,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20401,Sterile Water,Fluids/Intake,2201-12-13 16:51:00,49.999999,ml,50.000000,mL/hour,02-Fluids (Crystalloids),Additive (Crystalloid),223781,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20402,Magnesium Sulfate,Medications,2201-12-13 16:51:00,2.000000,grams,NaN,NaN,02-Fluids (Crystalloids),Additive (Crystalloid),223781,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20403,Jevity 1.2 (Full),Nutrition - Enteral,2201-12-13 16:51:00,399.999992,ml,65.217392,mL/hour,13-Enteral Nutrition,Additives (EN),223781,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
grouped_df = filtered_df.groupby('itemid_y')

In [42]:
# Displaying the groups
for group_name, group_data in grouped_df:
    print(f"Group {group_name}:")
    print(group_data['amount'])
    print(group_data['valuenum'])
    print("\n")

Streaming output truncated to the last 5000 lines.
14584      0.571000
14585    120.000000
14586      0.859061
14587     17.843748
19743      1.000000
19744     50.000000
19745     10.000000
19746      0.679000
19747     17.313621
19748    100.000001
19749      1.108072
19750     13.580006
19751     27.259621
19752     28.395431
Name: amount, dtype: float64
4482     1.0
4483     1.0
14583    1.0
14584    1.0
14585    1.0
14586    1.0
14587    1.0
19743    1.0
19744    1.0
19745    1.0
19746    1.0
19747    1.0
19748    1.0
19749    1.0
19750    1.0
19751    1.0
19752    1.0
Name: valuenum, dtype: float64


Group 227429:
15371    349.999987
17966    362.000017
17967    301.666659
Name: amount, dtype: float64
15371    0.01
17966    0.02
17967    0.02
Name: valuenum, dtype: float64


Group 227439:
7636    49.999999
7893     1.000000
7894    50.000000
Name: amount, dtype: float64
7636    0.0
7893    0.0
7894    0.0
Name: valuenum, dtype: float64


Group 227442:
1875     1000.000004
1876        1.000000
2054        4.266667
2055        4.266667
5385      121.428570
5386       30.357144
5898       49.999999
5899       20.000001
5900      513.333321
5901     3000.000000
5902      500.000000
5903     1000.000000
6078      200.000000
6079        1.000000
6080        0.798263
6081       24.945730
6082       49.999999
6083       20.000001
6886       14.000000
6956      100.000000
6957        1.000000
6958       30.000000
6959       30.000000
8443     1999.999979
8444      782.067222
8445       39.103361
8446      100.000002
8447       49.999999
8448       20.000001
8566       49.999999
8567       20.000001
8780       49.999999
8781        2.000000
12791     373.000018
12792     207.222232
15682     100.000001
15683       1.000000
15684     100.000000
16579      50.000000
18059      29.111812
18060      24.968743
18061       0.799000
18062       0.931578
18188      80.000006
18189      49.999999
18190       1.000000
19436     315.500015
19437      15.480003
19438       4.203310
19439       0.774000
19440     222.439995
19441       0.210165
19442     262.916660
19443     185.366651
19679       9.337198
19680       9.726246
Name: amount, dtype: float64
1875     5.6
1876     5.6
2054     4.8
2055     4.8
5385     4.5
5386     4.5
5898     2.6
5899     2.6
5900     2.6
5901     2.6
5902     2.6
5903     2.6
6078     3.8
6079     3.8
6080     3.8
6081     3.8
6082     3.8
6083     3.8
6886     5.0
6956     5.6
6957     5.6
6958     5.6
6959     5.6
8443     3.5
8444     3.5
8445     3.5
8446     3.5
8447     3.5
8448     3.5
8566     3.8
8567     3.8
8780     2.8
8781     2.8
12791    5.5
12792    5.5
15682    3.8
15683    3.8
15684    3.8
16579    6.2
18059    5.2
18060    5.2
18061    5.2
18062    5.2
18188    6.5
18189    6.5
18190    6.5
19436    3.8
19437    3.8
19438    3.8
19439    3.8
19440    3.8
19441    3.8
19442    3.8
19443    3.8
19679    3.2
19680    3.2
Name: valuenum, dtype: float64


Group 227443:
1966        0.500000
1967       49.999999
6991       58.356293
6992      583.563056
7803      120.000003
8829        8.000000
8830     1000.000000
8831       50.000000
8832        1.000000
8833        1.273366
8834        0.538447
8835       16.826481
8836       39.792687
8837       10.000000
8838        1.000000
8839       60.000000
10077      49.999999
10078       2.000000
11016      20.000000
11017      30.000000
11018      30.000000
14708     100.000000
14709       1.000000
14710       1.000000
14711       1.000000
16086      14.000000
16087      49.999999
16088      34.999999
16089      14.000000
16124       4.862702
16125      12.156754
16126      20.000001
17200      80.799587
17201      13.125000
17202       0.420000
17203       2.585586
17400     335.000010
17953      61.999712
17954      31.567018
17955       1.983991
17956       1.010145
17957      44.202176
17958       1.414470
17959       0.206594
17960      70.583333
17961       1.000000
17962      70.583335
17963      49.999999
17964       4.131888
18918     100.000003
18919      80.000010
19120      50.000000
19121       1.000000
Name: amount, dtype: float64
1966     22.0
1967     22.0
6991     12.0
6992     12.0
7803     29.0
8829      9.0
8830      9.0
8831      9.0
8832      9.0
8833      9.0
8834      9.0
8835      9.0
8836      9.0
8837      9.0
8838      9.0
8839      9.0
10077    16.0
10078    16.0
11016    18.0
11017    18.0
11018    18.0
14708    18.0
14709    18.0
14710    18.0
14711    18.0
16086    29.0
16087    29.0
16088    29.0
16089    29.0
16124    24.0
16125    24.0
16126    24.0
17200    14.0
17201    14.0
17202    14.0
17203    14.0
17400    11.0
17953    22.0
17954    22.0
17955    22.0
17956    22.0
17957    22.0
17958    22.0
17959    22.0
17960    22.0
17961    22.0
17962    22.0
17963    22.0
17964    22.0
18918    26.0
18919    26.0
19120    26.0
19121    26.0
Name: valuenum, dtype: float64


Group 227446:
7579    99.999998
7580     2.000000
Name: amount, dtype: float64
7579    1903.0
7580    1903.0
Name: valuenum, dtype: float64


Group 227454:
1325      50.000000
1326       1.000000
1327      30.000000
1328     120.000000
3316      79.770836
3317      20.359722
3318      19.145000
3319      84.832178
3320     100.000001
3321     100.000001
6675       1.000000
6676     200.000000
12647      2.500000
17514    175.000000
17989    100.000000
17990      1.000000
19717     19.999999
19718     49.999999
19719     19.999999
19720     49.999999
Name: amount, dtype: float64
1325     12.2
1326     12.2
1327     12.2
1328     12.2
3316      8.3
3317      8.3
3318      8.3
3319      8.3
3320      8.3
3321      8.3
6675     15.5
6676     15.5
12647    31.0
17514    62.7
17989    21.5
17990    21.5
19717    10.4
19718    10.4
19719    10.4
19720    10.4
Name: valuenum, dtype: float64


Group 227455:
1554     49.999999
1555     86.300006
1556      8.630001
19453     0.500000
19454    49.999999
19455     1.000000
19456    12.675625
19457     0.633781
19458     1.045142
19459    16.330349
Name: amount, dtype: float64
1554      7.8
1555      7.8
1556      7.8
19453    10.0
19454    10.0
19455    10.0
19456    10.0
19457    10.0
19458    10.0
19459    10.0
Name: valuenum, dtype: float64


Group 227456:
2107      200.000000
2108      100.000000
2109        1.000000
15718     249.999990
17429     240.000000
17430    1000.000000
17431       2.000000
17432      40.000001
17433      49.999999
17434     120.000000
Name: amount, dtype: float64
2107     2.5
2108     2.5
2109     2.5
15718    3.5
17429    3.8
17430    3.8
17431    3.8
17432    3.8
17433    3.8
17434    3.8
Name: valuenum, dtype: float64


Group 227457:
593         2.000000
594         1.365055
595         3.412637
1506     1000.000052
1507       99.999998
4491       10.000001
4492      313.554693
4493       31.355470
6239        0.235122
6240        4.702434
6241        0.530000
6242       10.599999
6243      274.134789
6244        4.883001
6245        0.488300
6246       27.413480
11670      99.999998
11671       2.000000
13119       0.500000
13120       2.000000
13121      99.999998
14684     100.000000
14685       1.000000
14686       1.000000
15500     499.999981
17934       0.919937
17935       2.918065
17936       3.833070
17937      12.158606
17938    1000.000000
17939      74.999996
17940      49.999999
17941       0.117500
17942       2.350000
17943       2.000000
17944      99.999998
17945       3.758093
17946       0.901942
19447       0.038291
19448       0.598302
19449       9.951833
19450       0.636917
19862       6.476780
19863       6.746645
Name: amount, dtype: float64
593      196.0
594      196.0
595      196.0
1506       8.0
1507       8.0
4491     115.0
4492     115.0
4493     115.0
6239      68.0
6240      68.0
6241      68.0
6242      68.0
6243      68.0
6244      68.0
6245      68.0
6246      68.0
11670    136.0
11671    136.0
13119    124.0
13120    124.0
13121    124.0
14684    299.0
14685    299.0
14686    299.0
15500    148.0
17934     16.0
17935     16.0
17936     16.0
17937     16.0
17938     16.0
17939     16.0
17940     16.0
17941     16.0
17942     16.0
17943     16.0
17944     16.0
17945     16.0
17946     16.0
19447     13.0
19448     13.0
19449     13.0
19450     13.0
19862     27.0
19863     27.0
Name: valuenum, dtype: float64


Group 227463:
1882     40.000003
7447    108.000003
Name: amount, dtype: float64
1882    37.0
7447    17.8
Name: valuenum, dtype: float64


Group 227464:
144         1.024382
145        22.727272
146         0.245852
147       227.272719
787         2.000000
788        99.999998
5735        5.000000
9782       98.799999
9783        9.880000
9784       42.642138
9785        4.264214
9786      249.980410
9787        5.728643
9788       57.286439
9789      250.700000
9900        2.430101
9901       12.150504
9902        5.000000
9903       13.421214
9904        2.684243
9905       10.977811
9906       54.889054
14197     999.999976
15995    1000.000000
17816       1.000000
17817     616.875028
17818      52.264104
17819      61.687504
17820     522.641032
19222      99.999998
19223      49.999999
19224       2.000000
19225      20.000001
Name: amount, dtype: float64
144      4.1
145      4.1
146      4.1
147      4.1
787      4.3
788      4.3
5735     3.6
9782     4.0
9783     4.0
9784     4.0
9785     4.0
9786     4.0
9787     4.0
9788     4.0
9789     4.0
9900     4.0
9901     4.0
9902     4.0
9903     4.0
9904     4.0
9905     4.0
9906     4.0
14197    4.3
15995    2.8
17816    5.0
17817    5.0
17818    5.0
17819    5.0
17820    5.0
19222    4.0
19223    4.0
19224    4.0
19225    4.0
Name: valuenum, dtype: float64


Group 227465:
1686      202.000008
3439        2.332695
3440        9.719563
4789        1.000000
4790       50.000000
4791      609.499955
7112       14.656883
7113       61.070357
7114     1700.000000
7115       29.523465
7116     2952.346350
7117     6096.089045
7118       60.960892
8581       30.000000
8582       30.000000
8583     1000.000000
9205        5.522141
9206        0.176709
10092       1.000000
10093       6.221959
10094      15.554898
10657      98.070360
10658    8036.673714
10659      11.273648
10660    1127.364777
10661      80.366744
10662    9807.035568
10816      23.570193
10817       0.724722
10818       0.173933
10819       0.754246
14658     250.000000
16133      40.000003
16425      23.465000
16426     117.324983
16427      72.970499
16428     249.899983
16429     291.881994
17222      40.000003
19541     100.000000
19542       1.000000
19543       2.024000
19544     100.000000
19545      40.480011
19546       1.000000
19547      49.999999
19548       1.000000
Name: amount, dtype: float64
1686     14.8
3439     12.3
3440     12.3
4789     13.4
4790     13.4
4791     13.4
7112     12.4
7113     12.4
7114     12.4
7115     12.4
7116     12.4
7117     12.4
7118     12.4
8581     15.8
8582     15.8
8583     15.8
9205     29.6
9206     29.6
10092    14.5
10093    14.5
10094    14.5
10657    11.4
10658    11.4
10659    11.4
10660    11.4
10661    11.4
10662    11.4
10816    26.8
10817    26.8
10818    26.8
10819    26.8
14658    16.0
16133    14.6
16425    14.4
16426    14.4
16427    14.4
16428    14.4
16429    14.4
17222    14.0
19541    14.1
19542    14.1
19543    14.1
19544    14.1
19545    14.1
19546    14.1
19547    14.1
19548    14.1
Name: valuenum, dtype: float64


Group 227466:
552      259.583341
553      743.750011
554       74.375000
754        2.000000
755       52.116325
            ...
19213      8.469851
19399     49.999999
19400     49.999999
19434    100.000000
19435      1.000000
Name: amount, Length: 118, dtype: float64
552      26.1
553      26.1
554      26.1
754      30.2
755      30.2
         ...
19213    27.3
19399    31.4
19400    31.4
19434    30.5
19435    30.5
Name: valuenum, Length: 118, dtype: float64


Group 227467:
3210         1.168952
3211         1.168952
3212         1.089789
3213         1.089789
5039         2.000000
5040        99.999997
7927        60.000000
9414         1.675000
9415        52.343723
9416         7.334855
9417       229.214104
13090       34.916668
13091       16.083334
13617        3.000000
13618        2.000000
13619       11.083334
13620       49.999999
14616      210.693710
14617    13134.367435
14618    21069.370060
14619      131.343673
18530      200.000000
18531        1.000000
18532       30.000000
18533       30.000000
19343        0.023333
19344        0.466667
19345       49.999999
19632        0.172087
19633        1.000000
19634        2.688861
19635       20.772331
19636        1.329429
19637     1000.000027
19638      112.900001
Name: amount, dtype: float64
3210     1.9
3211     1.9
3212     1.9
3213     1.9
5039     1.2
5040     1.2
7927     1.7
9414     1.7
9415     1.7
9416     1.7
9417     1.7
13090    1.9
13091    1.9
13617    1.2
13618    1.2
13619    1.2
13620    1.2
14616    1.6
14617    1.6
14618    1.6
14619    1.6
18530    1.5
18531    1.5
18532    1.5
18533    1.5
19343    1.3
19344    1.3
19345    1.3
19632    1.3
19633    1.3
19634    1.3
19635    1.3
19636    1.3
19637    1.3
19638    1.3
Name: valuenum, dtype: float64


Group 227468:
571        99.999998
572         2.000000
1029       99.999999
1030      999.999901
8920        1.919000
8921       59.968745
8922       41.806440
8923        1.337806
9109       20.000001
9110       49.999999
9111      114.229730
9112      114.229726
10849     100.199992
10850     204.000006
10851    1002.000007
Name: amount, dtype: float64
571      133.0
572      133.0
1029     395.0
1030     395.0
8920     158.0
8921     158.0
8922     158.0
8923     158.0
9109     203.0
9110     203.0
9111     203.0
9112     203.0
10849    186.0
10850    186.0
10851    186.0
Name: valuenum, dtype: float64


Group 227470:
18408      1.000000
18409    100.000000
18410      2.000000
18411     49.999999
Name: amount, dtype: float64
18408    87.0
18409    87.0
18410    87.0
18411    87.0
Name: valuenum, dtype: float64


Group 227471:
4067       1.174444
4068       0.037582
14823    100.000000
14824      1.000000
16591      5.083334
16592      0.254167
16593     22.066668
16594    110.333332
Name: amount, dtype: float64
4067     1.025
4068     1.025
14823    1.038
14824    1.038
16591    1.009
16592    1.009
16593    1.009
16594    1.009
Name: valuenum, dtype: float64


Group 227516:
16670    46.700001
16671    18.680000
17343     0.253583
17344     7.924464
Name: amount, dtype: float64
16670    36.0
16671    36.0
17343    41.0
17344    41.0
Name: valuenum, dtype: float64


Group 227517:
1542       10.493053
1543      996.000000
1544      112.448406
1545      262.326355
2177     1000.000000
2178       49.999999
2179      433.299973
2180        6.760000
2181        6.725758
2182      241.666661
2183        0.338000
2184        0.336288
2185       99.999997
2186        1.000000
3024       40.000003
3025        9.000000
3026       20.000000
3027        5.421122
3028        5.421123
5375        1.000000
5376       30.000000
5377       45.000000
5501        2.000000
5502       99.999997
5503      250.000000
5504        1.000000
9509       26.700003
9510        0.392310
9511       12.259675
9512        1.335000
9513        1.781000
9514       55.656219
9515        0.833333
9516        0.041667
11370       4.000000
18585     223.754958
18701       0.007200
18702       0.144000
18703       0.405826
18704       8.116518
18705    1000.000000
18706       0.936000
18707       0.046800
18708     350.000004
Name: amount, dtype: float64
1542    NaN
1543    NaN
1544    NaN
1545    NaN
2177    NaN
2178    NaN
2179    NaN
2180    NaN
2181    NaN
2182    NaN
2183    NaN
2184    NaN
2185    NaN
2186    NaN
3024    NaN
3025    NaN
3026    NaN
3027    NaN
3028    NaN
5375    NaN
5376    NaN
5377    NaN
5501    NaN
5502    NaN
5503    NaN
5504    NaN
9509    NaN
9510    NaN
9511    NaN
9512    NaN
9513    NaN
9514    NaN
9515    NaN
9516    NaN
11370   NaN
18585   NaN
18701   NaN
18702   NaN
18703   NaN
18704   NaN
18705   NaN
18706   NaN
18707   NaN
18708   NaN
Name: valuenum, dtype: float64


Group 227537:
4583    96.803651
4584     4.840182
Name: amount, dtype: float64
4583    90.0
4584    90.0
Name: valuenum, dtype: float64


Group 227566:
1280     60.0
1281     30.0
11640     2.5
Name: amount, dtype: float64
1280     2500.0
1281     2500.0
11640    3000.0
Name: valuenum, dtype: float64


Group 227570:
3795       180.000000
4364         0.044000
4365     18889.999855
4366        25.669268
4367       188.899985
4368        11.000003
4369         0.102677
10095      240.000000
10096        4.000000
Name: amount, dtype: float64
3795    NaN
4364    NaN
4365    NaN
4366    NaN
4367    NaN
4368    NaN
4369    NaN
10095   NaN
10096   NaN
Name: valuenum, dtype: float64


Group 227586:
11114    30.0
11115    50.0
Name: amount, dtype: float64
11114    7.0
11115    7.0
Name: valuenum, dtype: float64


Group 227627:
19521    1000.000000
19522     150.000000
19523      20.000001
19524      49.999999
Name: amount, dtype: float64
19521    37.0
19522    37.0
19523    37.0
19524    37.0
Name: valuenum, dtype: float64


Group 227628:
18109      0.839000
18110     26.218739
18111     40.700001
18112     27.005017
18113      1.350251
18114      3.299099
18115    103.096785
18116     16.280000
18117     39.879999
18118     44.300001
18119     99.699994
18120      2.215000
18121      4.444133
18122      4.444133
18491     24.999999
18539    100.000000
18540      1.000000
18541     30.000000
18542     30.000000
Name: amount, dtype: float64
18109    29.5
18110    29.5
18111    29.5
18112    29.5
18113    29.5
18114    29.5
18115    29.5
18116    29.5
18117    29.5
18118    29.5
18119    29.5
18120    29.5
18121    29.5
18122    29.5
18491    31.0
18539    34.0
18540    34.0
18541    34.0
18542    34.0
Name: valuenum, dtype: float64


Group 227630:
3197       40.000000
3198        1.000000
3199      100.000000
3200       20.000000
3201      750.000041
3224        0.501078
3225        0.501078
3226        5.826574
3227        1.398378
3255        1.000000
3256      100.000000
3312       22.972190
3313       22.972190
3360        3.973018
3361        3.973018
18425       1.134230
18426      35.444692
18434      83.272194
18435    8327.219078
18457      30.000000
18458      40.000000
18534    4460.812100
18535     600.000000
18536       1.730337
18537      54.073038
18538      44.608126
19517      20.000001
19518      49.999999
Name: amount, dtype: float64
3197    NaN
3198    NaN
3199    NaN
3200    NaN
3201    NaN
3224    NaN
3225    NaN
3226    NaN
3227    NaN
3255    NaN
3256    NaN
3312    NaN
3313    NaN
3360    NaN
3361    NaN
18425   NaN
18426   NaN
18434   NaN
18435   NaN
18457   NaN
18458   NaN
18534   NaN
18535   NaN
18536   NaN
18537   NaN
18538   NaN
19517   NaN
19518   NaN
Name: valuenum, dtype: float64


Group 227631:
19770      7.048999
19771      1.963158
19772     39.263174
19773     10.000000
19774     50.000000
19775    349.636543
19776      2.499999
19777     13.985463
19778    105.672786
19779    100.000001
19780    176.225009
19781    110.075790
Name: amount, dtype: float64
19770   NaN
19771   NaN
19772   NaN
19773   NaN
19774   NaN
19775   NaN
19776   NaN
19777   NaN
19778   NaN
19779   NaN
19780   NaN
19781   NaN
Name: valuenum, dtype: float64


Group 227632:
3269        3.918857
3270        0.125403
3348       37.993997
3349      158.308349
18095       1.000000
18096      50.000000
18450    1000.000000
18451       1.000000
18452     200.000000
Name: amount, dtype: float64
3269     36.6
3270     36.6
3348     36.4
3349     36.4
18095    37.2
18096    37.2
18450    35.1
18451    35.1
18452    35.1
Name: valuenum, dtype: float64


Group 227634:
19384    3000.000000
19385       1.000000
19671      99.999999
19672       9.100581
19673     100.000002
19674      20.000001
19675      49.999999
19676      10.000001
19677      40.000000
19678       8.736559
Name: amount, dtype: float64
19384    36.9
19385    36.9
19671    36.9
19672    36.9
19673    36.9
19674    36.9
19675    36.9
19676    36.9
19677    36.9
19678    36.9

In [43]:
grouped_df.head()

,itemid_x,label_x,category_x,storetime,amount,amountuom,rate,rateuom,ordercategoryname,secondaryordercategoryname,...,label_y,category_y,subject_id,hadm_id,stay_id,charttime,value,valuenum,valueuom,warning
0,226361,Pre-Admission/Non-ICU Intake,Fluids/Intake,2110-04-11 18:43:00,1000.000000,ml,NaN,NaN,16-Pre Admission/Non-ICU,NaN,...,Teaching directed toward,Adm History/FHPA,10001725,25563031,31205490,2110-04-11 18:40:00,Family Member,NaN,NaN,0.0
1,225158,NaCl 0.9%,Fluids/Intake,2110-04-11 22:51:00,114.666670,ml,10.00000,mL/hour,02-Fluids (Crystalloids),Additive (Crystalloid),...,Non Invasive Blood Pressure diastolic,Routine Vital Signs,10001725,25563031,31205490,2110-04-11 21:00:00,74,74.0,mmHg,0.0
2,226452,PO Intake,Fluids/Intake,2110-04-11 22:51:00,120.000000,ml,NaN,NaN,14-Oral/Gastric Intake,NaN,...,Non Invasive Blood Pressure diastolic,Routine Vital Signs,10001725,25563031,31205490,2110-04-11 21:00:00,74,74.0,mmHg,0.0
3,229072,Ketorolac (Toradol),Medications,2110-04-11 22:52:00,15.000001,mg,NaN,NaN,05-Med Bolus,NaN,...,Pain Assessment Method,Pain/Sedation,10001725,25563031,31205490,2110-04-11 22:00:00,Patient Verbalized,NaN,NaN,0.0
4,225944,Sterile Water,Fluids/Intake,2110-04-12 00:34:00,49.999999,ml,25.00000,mL/hour,02-Fluids (Crystalloids),Additive (Crystalloid),...,Non Invasive Blood Pressure systolic,Routine Vital Signs,10001725,25563031,31205490,2110-04-12 00:00:00,88,88.0,mmHg,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20317,225943,Solution,Fluids/Intake,2201-11-10 08:18:00,50.000000,ml,NaN,NaN,10-Prophylaxis (IV),02-Fluids (Crystalloids),...,Neuro Drain #1 Landmark,Neurological,10027602,28166872,32391858,2201-11-10 08:00:00,Tragus,NaN,NaN,0.0
20318,225907,Famotidine (Pepcid),Medications,2201-11-10 08:18:00,1.000000,dose,NaN,NaN,10-Prophylaxis (IV),02-Fluids (Crystalloids),...,Neuro Drain #1 Landmark,Neurological,10027602,28166872,32391858,2201-11-10 08:00:00,Tragus,NaN,NaN,0.0
20319,225842,Ampicillin,Antibiotics,2201-11-10 08:56:00,1.000000,dose,NaN,NaN,08-Antibiotics (IV),02-Fluids (Crystalloids),...,Neuro Drain #1 Landmark,Neurological,10027602,28166872,32391858,2201-11-10 08:00:00,Tragus,NaN,NaN,0.0
20320,225158,NaCl 0.9%,Fluids/Intake,2201-11-10 08:56:00,1000.000037,ml,75.28231,mL/hour,02-Fluids (Crystalloids),Additive (Crystalloid),...,Neuro Drain #1 Landmark,Neurological,10027602,28166872,32391858,2201-11-10 08:00:00,Tragus,NaN,NaN,0.0
20323,221828,Hydralazine,Medications,2201-11-10 11:58:00,10.000001,mg,NaN,NaN,05-Med Bolus,NaN,...,Neuro Drain #1 Level,Neurological,10027602,28166872,32391858,2201-11-10 10:00:00,20 cm,NaN,NaN,0.0

In [44]:
grouped_df

In [50]:
# Extracting and converting only one group (e.g., 'A')
group_a_df = grouped_df.get_group(229247).reset_index(drop=True)

# Now group_a_df is a regular DataFrame containing only the 'A' group
print(group_a_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   itemid_x                    24 non-null     int64
 1   label_x                     24 non-null     object
 2   category_x                  24 non-null     object
 3   storetime                   24 non-null     datetime64[ns]
 4   amount                      24 non-null     float64
 5   amountuom                   24 non-null     object
 6   rate                        17 non-null     float64
 7   rateuom                     17 non-null     object
 8   ordercategoryname           24 non-null     object
 9   secondaryordercategoryname  20 non-null     object
 10  itemid_y                    24 non-null     int64
 11  label_y                     24 non-null     object
 12  category_y                  24 non-null     object
 13  subject_id                  24 non-null     int64
 14  hadm_id                     24 non-null     int64
 15  stay_id                     24 non-null     int64
 16  charttime                   24 non-null     object
 17  value                       24 non-null     object
 18  valuenum                    24 non-null     float64
 19  valueuom                    24 non-null     object
 20  warning                     24 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(5), object(11)
memory usage: 4.1+ KB
None

In [91]:
from sklearn.model_selection import train_test_split
def split_dataset(X, y, split_test_size = 0.2, shuffle = False):
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=split_test_size, random_state=SEED, shuffle=shuffle)

  #Re-indexing
  # X_train = pd.Series(X_train.values.tolist())
  # X_test = pd.Series(X_test.values.tolist())
  # y_train = pd.Series(y_train.values.tolist())
  # y_test = pd.Series(y_test.values.tolist())

  return [X_train, X_test, y_train, y_test]

In [93]:
[X_train, X_test, y_train, y_test] = split_dataset(group_a_df['valuenum'], group_a_df['amount'])

In [53]:
X_train

8      90.0
3      33.0
14     90.0
18    104.0
7      90.0
10     90.0
2      33.0
23    104.0
20    104.0
15     90.0
17     54.0
5      76.0
6      78.0
4      76.0
1      45.0
13     90.0
11     90.0
0      45.0
16     54.0
Name: valuenum, dtype: float64

In [64]:
X_train = np.array(X_train).reshape(-1,1)
X_train.shape

X_test = np.array(X_test).reshape(-1,1)
X_test.shape

(5, 1)

In [65]:
import numpy as np

from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X_train, np.array(y_train))

print(reg.score(X_test, y_test))
"""
1.0
>>> reg.coef_
array([1., 2.])
>>> reg.intercept_
3.0...
>>> reg.predict(np.array([[3, 5]]))
array([16.])
"""

0.017524915106395422

'\n1.0\n>>> reg.coef_\narray([1., 2.])\n>>> reg.intercept_\n3.0...\n>>> reg.predict(np.array([[3, 5]]))\narray([16.])\n'

In [66]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.15.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.5.26)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.5.4)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.9.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (16.0.6)
Requirement already satisfied: ml-dtypes~=0.2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.23.5)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.5.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.34.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.60.0)
Requirement already satisfied: tensorboard<2.16,>=2.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.15.1)
Requirement already satisfied: tensorflow-estimator<2.16,>=2.15.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.15.0)
Requirement already satisfied: keras<2.16,>=2.15.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.15.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.42.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<2,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (1.2.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (3.5.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (2.31.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.16,>=2.15->tensorflow) (3.0.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (5.3.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.16,>=2.15->tensorflow) (2023.11.17)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.16,>=2.15->tensorflow) (2.1.3)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.16,>=2.15->tensorflow) (0.5.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<2,>=0.5->tensorboard<2.16,>=2.15->tensorflow) (3.2.2)

In [75]:
grouped_df_patients = filtered_df.groupby('subject_id')

In [76]:
grouped_df_patients

In [89]:
# Displaying the groups
for group_name, group_data in grouped_df_patients:
    print(f"Group {group_name}:")
    print(group_data['amount'])
    print(group_data['valuenum'])
    print("\n")

Group 10000032:
17882     49.999999
17883     49.999999
17884    100.000000
17885    200.000000
17886    100.000000
Name: amount, dtype: float64
17882     NaN
17883    21.0
17884     NaN
17885     NaN
17886     NaN
Name: valuenum, dtype: float64


Group 10001217:
15396      10.000001
15397     200.000000
15398       1.000000
15399       1.000000
15400     249.999994
15401       1.000000
15402       1.000000
15403     100.000000
15404     200.000000
15405       1.000000
15406    1000.000037
15407      32.500000
15408     360.000000
15409      14.750000
15410     120.000000
15411     120.000000
15412       1.000000
15413       1.000000
15414     250.000000
15415     250.000000
15416       1.000000
15417       1.000000
15418     200.000000
15419       1.000000
15420       2.000000
15421    1000.000000
15422      50.000000
15423       1.000000
15424     308.333326
15425     100.000000
15426       2.000000
15427      10.000001
15428       2.000000
15429       2.000000
15430     200.000000
15431       1.000000
15432      99.999998
15433      13.333334
15434     360.000000
15435       1.000000
15436     100.000000
15437     120.000000
15438     120.000000
15439       1.000000
15440     100.000000
15441      99.999998
15442    1000.000000
15443       1.000000
15444     200.000000
15445     360.000000
15446       2.000000
15447      49.999999
15448     480.000000
Name: amount, dtype: float64
15396      NaN
15397      5.0
15398      5.0
15399      NaN
15400      1.0
15401      NaN
15402      NaN
15403      NaN
15404      1.0
15405      1.0
15406      3.0
15407      3.0
15408      3.0
15409     85.0
15410      0.0
15411     91.0
15412     99.7
15413     99.7
15414    132.0
15415    132.0
15416    132.0
15417    132.0
15418    132.0
15419    132.0
15420    100.8
15421      NaN
15422      NaN
15423      NaN
15424      NaN
15425      NaN
15426      NaN
15427      NaN
15428      NaN
15429     60.0
15430      NaN
15431      NaN
15432      NaN
15433      NaN
15434      NaN
15435     78.0
15436     78.0
15437      NaN
15438      NaN
15439      NaN
15440      NaN
15441      NaN
15442      NaN
15443      NaN
15444      NaN
15445      NaN
15446      NaN
15447      NaN
15448      NaN
Name: valuenum, dtype: float64


Group 10001725:
0     1000.000000
1      114.666670
2      120.000000
3       15.000001
4       49.999999
5        2.000000
6        2.000000
7       50.000000
8      120.000000
9        0.500000
10       0.500000
11     350.000000
12      15.000001
13     240.000000
14     240.000000
15     100.000000
16     480.000000
17      15.000001
18     480.000000
19      15.000001
20     120.000000
Name: amount, dtype: float64
0      NaN
1     74.0
2     74.0
3      NaN
4     88.0
5     88.0
6     88.0
7     88.0
8      NaN
9      NaN
10     NaN
11     1.0
12    97.8
13     NaN
14     NaN
15     NaN
16     NaN
17    84.0
18     NaN
19     NaN
20     0.0
Name: valuenum, dtype: float64


Group 10002428:
14638     317.500009
14639    4000.000000
14640     250.000000
14641     500.000000
14642     250.000000
            ...
15359      30.000000
15360     120.000000
15361       1.000000
15362       1.000000
15363       1.000000
Name: amount, Length: 726, dtype: float64
14638      NaN
14639      NaN
14640      NaN
14641      NaN
14642    160.0
         ...
15359      NaN
15360      1.0
15361      1.0
15362      1.0
15363      1.0
Name: valuenum, Length: 726, dtype: float64


Group 10002495:
10086      6.638894
10087     16.597236
10088      0.416667
10089      0.192370
10090      1.041667
            ...
10226    220.000000
10227     10.000000
10228      6.000000
10229    100.000000
10230      1.000000
Name: amount, Length: 145, dtype: float64
10086    NaN
10087    NaN
10088    NaN
10089    NaN
10090    NaN
        ...
10226    NaN
10227    NaN
10228    NaN
10229    1.0
10230    1.0
Name: valuenum, Length: 145, dtype: float64


Group 10002930:
19931     134.166671
19932     240.000000
19933     240.000000
19934       1.000000
19935       1.000000
19936     180.000000
19937      49.999999
19938     100.000002
19939     120.000000
19940     480.000000
19941       1.000000
19942      79.166669
19943    2000.000000
19944      99.999998
19945      49.999999
19946       2.000000
19947      50.000000
19948     360.000000
19949     100.000002
19950      49.999999
Name: amount, dtype: float64
19931    140.8
19932      NaN
19933      NaN
19934     26.0
19935      NaN
19936      NaN
19937      NaN
19938      NaN
19939     49.0
19940      NaN
19941     92.0
19942    138.0
19943     95.0
19944      NaN
19945      NaN
19946      NaN
19947      NaN
19948     19.0
19949      6.0
19950      6.0
Name: valuenum, dtype: float64


Group 10003046:
14311     932.500000
14312     250.000000
14313    2000.000000
14314       1.000000
14315       0.500000
14316       0.500000
14317     200.000000
14318       1.000000
14319     500.000000
14320      49.999999
14321       2.000000
14322     148.500004
14323      20.000000
14324       2.000000
14325      49.999999
14326       2.000000
14327      20.000000
14328      20.000000
14329    1000.000000
14330     492.500000
14331      63.800005
14332       0.000000
14333      69.000002
14334      10.000000
14335       1.000000
14336       1.000000
14337      10.000000
14338     278.666675
14339     249.999990
14340     249.999990
14341     488.800013
14342       2.000000
14343      20.000000
14344      20.000000
14345       1.000000
14346      20.000000
14347      20.000000
14348       0.000000
14349      10.000000
14350      20.000000
14351     250.000006
14352      15.000000
14353       1.000000
14354      10.000000
14355      47.500000
14356      55.833335
14357     999.999972
14358       5.000000
14359      30.000000
Name: amount, dtype: float64
14311     80.0
14312      NaN
14313      NaN
14314    131.0
14315      NaN
14316      8.0
14317     92.0
14318     92.0
14319      NaN
14320      NaN
14321      NaN
14322      NaN
14323      NaN
14324      NaN
14325     65.0
14326     65.0
14327     85.0
14328      NaN
14329     81.0
14330      NaN
14331      NaN
14332      NaN
14333      1.0
14334      NaN
14335      NaN
14336      NaN
14337      NaN
14338      NaN
14339      NaN
14340      NaN
14341      6.0
14342    122.0
14343    122.0
14344    122.0
14345    122.0
14346      NaN
14347      NaN
14348      NaN
14349      1.0
14350      1.0
14351      1.0
14352      1.0
14353      NaN
14354      NaN
14355     95.0
14356     95.0
14357     95.0
14358     94.0
14359      NaN
Name: valuenum, dtype: float64


Group 10003400:
7537     1.418995
7538    44.343576
7539     1.940000
7540     4.850000
7541     4.604651
          ...
8635    50.000000
8636    20.000000
8637    25.000000
8638    25.000000
8639    25.000000
Name: amount, Length: 990, dtype: float64
7537    63.0
7538    63.0
7539    63.0
7540    63.0
7541    63.0
        ...
8635     NaN
8636     NaN
8637     NaN
8638     NaN
8639     NaN
Name: valuenum, Length: 990, dtype: float64


Group 10004235:
19327      1.222930
19328     35.031847
19329    253.333327
19330     38.216560
19331    304.000014
            ...
19926      2.000000
19927    100.000000
19928    240.000000
19929      1.000000
19930    100.000000
Name: amount, Length: 604, dtype: float64
19327     7.17
19328     7.17
19329     7.17
19330     7.17
19331     7.17
         ...
19926      NaN
19927      NaN
19928      NaN
19929    65.00
19930    65.00
Name: valuenum, Length: 604, dtype: float64


Group 10004422:
139      17.199017
140       1.719902
141     571.500017
142       4.660453
143       1.118509
          ...
382     240.000000
383    1000.000000
384     180.000000
385     360.000000
386      20.000001
Name: amount, Length: 248, dtype: float64
139     NaN
140     NaN
141     NaN
142     NaN
143     NaN
       ...
382     NaN
383     NaN
384    65.0
385     1.0
386     1.0
Name: valuenum, Length: 248, dtype: float64


Group 10004457:
10249      0.952381
10250      9.523810
10251      0.425170
10252      0.102041
10253      1.842404
            ...
10354      1.000000
10355      1.000000
10356     50.000000
10357      2.000000
10358    240.000000
Name: amount, Length: 110, dtype: float64
10249    30.1
10250    30.1
10251    51.0
10252    51.0
10253    51.0
         ...
10354     1.0
10355    98.0
10356    98.0
10357     NaN
10358    90.0
Name: valuenum, Length: 110, dtype: float64


Group 10004720:
18417    14.705883
18418    56.333336
18419    13.174020
18420    31.100002
18421    56.333334
           ...
18622     2.134771
18623     2.134771
18624    31.843820
18625    31.843819
18626     4.000000
Name: amount, Length: 210, dtype: float64
18417   NaN
18418   NaN
18419   NaN
18420   NaN
18421   NaN
         ..
18622   NaN
18623   NaN
18624   NaN
18625   NaN
18626   NaN
Name: valuenum, Length: 210, dtype: float64


Group 10004733:
16119     57.062146
16120    570.621470
16121    391.750012
16122      1.215122
16123      3.037804
            ...
16558      1.000000
16559    200.000000
16560    200.000000
16561    100.000000
16562      1.000000
Name: amount, Length: 444, dtype: float64
16119    100.0
16120    100.0
16121    100.0
16122    100.0
16123    100.0
         ...
16558    102.0
16559      0.0
16560      0.0
16561      NaN
16562      NaN
Name: valuenum, Length: 444, dtype: float64


Group 10005348:
4919       0.469397
4920       1.955821
4921       0.786932
4922       0.552232
4923       2.300966
           ...
5025    1000.000000
5026      20.000001
5027     200.000000
5028       1.000000
5029       4.000000
Name: amount, Length: 111, dtype: float64
4919    95.0
4920    95.0
4921    30.8
4922    30.8
4923    30.8
        ...
5025    66.0
5026     1.0
5027     1.0
5028     1.0
5029     NaN
Name: valuenum, Length: 111, dtype: float64


Group 10005817:
5728      2.845220
5729      0.682853
5730      0.455235
5731      1.896813
5732    158.166671
           ...
7401      6.350001
7402     24.200004
7403      0.777447
7404      0.038872
7405      0.200000
Name: amount, Length: 964, dtype: float64
5728     NaN
5729     NaN
5730     NaN
5731     NaN
5732     NaN
        ...
7401    82.0
7402    82.0
7403    82.0
7404    82.0
7405    82.0
Name: valuenum, Length: 964, dtype: float64


Group 10005866:
13050      2.000000
13051     99.999998
13052    350.000010
13053     99.999998
13054     10.000000
            ...
13150     20.000001
13151      1.000000
13152    200.000000
13153     49.999999
13154     20.000001
Name: amount, Length: 105, dtype: float64
13050     NaN
13051     NaN
13052    98.3
13053    60.0
13054    60.0
         ...
13150     1.0
13151     1.0
13152     1.0
13153     NaN
13154     NaN
Name: valuenum, Length: 105, dtype: float64


Group 10005909:
10617        0.500000
10618       25.000000
10619        0.500000
10620       25.000000
10621       25.000000
             ...
10673    14822.158241
10674      148.221593
10675      360.000000
10676     4290.596159
10677       42.905966
Name: amount, Length: 61, dtype: float64
10617    95.0
10618    95.0
10619     NaN
10620    95.0
10621    95.0
         ...
10673     1.0
10674     1.0
10675     NaN
10676     NaN
10677     NaN
Name: valuenum, Length: 61, dtype: float64


Group 10006053:
400     99.999998
401     99.999998
402     22.229163
403      2.000000
404      2.000000
          ...
541     20.666668
542      6.908183
543     64.125000
544      2.052000
545    215.880724
Name: amount, Length: 146, dtype: float64
400    100.0
401    100.0
402    100.0
403    100.0
404    100.0
       ...
541     49.0
542      NaN
543      NaN
544      NaN
545      NaN
Name: valuenum, Length: 146, dtype: float64


Group 10006580:
8062      76.666665
8063     229.000000
8064    1300.000000
8065    1000.000000
8066       0.500000
8071     160.000000
8086      10.000001
8098     999.999976
8099    1000.000011
8102      10.000000
Name: amount, dtype: float64
8062      NaN
8063      NaN
8064      NaN
8065     96.0
8066     96.0
8071      1.0
8086      1.0
8098     47.0
8099     47.0
8102    305.0
Name: valuenum, dtype: float64


Group 10007058:
15843        8.422564
15844       21.056415
15845        1.427439
15846        3.568596
15847       10.000000
15848        1.000000
15849       70.817488
15850     7081.749141
15851     1000.000030
15852      208.333328
15853      791.666636
15854        2.379256
15855        0.951702
15856       22.501989
15857     2250.199059
15858        6.742493
15859        2.696997
15860      505.000000
15861      450.000000
15862      600.000000
15863      120.000000
15864      120.000000
15865      120.000000
15866      240.000000
15867      240.000000
15868       60.000000
15869       44.186290
15870        0.833333
15871       83.333336
15872    24900.000620
15873     4418.629055
15874      248.999996
15875      180.000000
15876      400.000000
15877      400.000000
15878       10.000000
15879        1.000000
Name: amount, dtype: float64
15843      1.0
15844      1.0
15845      1.0
15846      1.0
15847      NaN
15848      NaN
15849     98.0
15850     98.0
15851     82.0
15852     82.0
15853      NaN
15854      NaN
15855      NaN
15856      NaN
15857      NaN
15858     62.0
15859     62.0
15860      NaN
15861      NaN
15862    127.0
15863     82.0
15864     85.0
15865      NaN
15866      NaN
15867    100.0
15868    100.0
15869    100.0
15870    100.0
15871    100.0
15872    100.0
15873    100.0
15874    100.0
15875      NaN
15876     99.0
15877     16.0
15878     77.0
15879     77.0
Name: valuenum, dtype: float64


Group 10007795:
7515      10.000000
7516      20.000001
7517       1.000000
7518       1.000000
7519      92.500004
7520      32.375001
7521    1572.500035
7522     263.625007
7523       3.000000
7524       1.000000
7525      10.000000
7526       1.000000
7527     499.999988
7528      40.000002
7529       3.000000
7530       1.000000
7531       1.000000
7532     100.000000
7533     200.000000
7534       1.000000
7535       1.000000
7536     100.000000
Name: amount, dtype: float64
7515      1.0
7516      1.0
7517      1.0
7518      NaN
7519    132.0
7520    132.0
7521    132.0
7522    132.0
7523      NaN
7524      1.0
7525      1.0
7526      1.0
7527      NaN
7528      NaN
7529      1.0
7530    147.0
7531    147.0
7532    147.0
7533     94.0
7534     94.0
7535      NaN
7536      NaN
Name: valuenum, dtype: float64


Group 10007818:
10712     1.724138
10713     7.281553
10714     7.183908
10715     0.233010
10716     6.472492
           ...
11610     5.600000
11611     5.600001
11612    19.881299
11613     2.000000
11614    19.881298
Name: amount, Length: 903, dtype: float64
10712    28.0
10713    28.0
10714    28.0
10715    28.0
10716    28.0
         ...
11610    79.0
11611    79.0
11612    60.0
11613    60.0
11614    60.0
Name: valuenum, Length: 903, dtype: float64


Group 10007928:
4828    2000.000000
4829       2.166667
4830    1000.000000
4831    1000.334167
4832      99.999998
           ...
4914      50.000000
4915       1.000000
4916      10.000001
4917     100.000000
4918       1.000000
Name: amount, Length: 91, dtype: float64
4828    88.0
4829    88.0
4830     NaN
4831     0.0
4832     0.0
        ...
4914    78.0
4915    78.0
4916    78.0
4917    85.0
4918    85.0
Name: valuenum, Length: 91, dtype: float64


Group 10008287:
10678     290.666675
10679      10.000000
10680      99.999998
10681    1950.000000
10682    4000.000000
10683       2.000000
10684       1.000000
10685      50.000000
10686       2.000000
10687       0.250000
10688      10.000000
10689      99.999998
10690      99.999998
10691       2.000000
10692      49.999999
10693       2.000000
10694      99.999998
10695      10.000000
10696       1.000000
10697      50.000000
10698       0.250000
10699       1.000000
10700      99.999998
10701      50.000000
10702     231.440324
10703     709.333046
10704     150.000000
10705     120.000000
10706     120.000000
10707      99.999998
10708       1.000000
10709      50.000000
10710       1.000000
10711     100.000000
Name: amount, dtype: float64
10678     17.0
10679     75.4
10680     75.4
10681      1.0
10682      1.0
10683      NaN
10684      2.0
10685      2.0
10686      2.0
10687     99.4
10688     99.4
10689     99.4
10690    207.0
10691    207.0
10692    207.0
10693    207.0
10694    207.0
10695    207.0
10696     92.0
10697     92.0
10698     92.0
10699     92.0
10700     92.0
10701     92.0
10702     16.0
10703     16.0
10704    104.0
10705      NaN
10706      NaN
10707      NaN
10708      NaN
10709      NaN
10710      NaN
10711      0.0
Name: valuenum, dtype: float64


Group 10008454:
21      145.00
22     2000.00
23      250.00
24        1.00
25        1.00
        ...
134       5.00
135     240.00
136       0.25
137     240.00
138      20.00
Name: amount, Length: 118, dtype: float64
21      0.0
22      1.0
23      1.0
24     60.0
25     12.0
       ...
134     NaN
135     NaN
136     NaN
137     1.0
138     1.0
Name: valuenum, Length: 118, dtype: float64


Group 10009035:
15462       0.290030
15463      72.674418
15464       1.208459
15465       7.267442
15466    3000.000000
15467     450.000000
15468     230.166674
15469       2.500000
15470    1000.000000
15471       2.500000
15472       2.500000
15473       3.491108
15474      34.911081
15475    1000.000000
15476       2.400000
15477       2.400000
15478       3.000000
15479    1000.000000
15480       7.918019
15481       7.918019
15482       2.000000
15483     100.000000
15484     499.999981
15485       4.451587
15486       4.451587
15487      20.000001
15488      49.999999
15489       5.802069
15490       5.802069
15491       7.852800
15492       7.852800
15493     499.999981
15494       2.000000
15495     100.000000
15496       5.585325
15497       5.585325
15498       2.500000
15499       2.500000
15500     499.999981
15501      49.999999
15502      20.000001
15503       2.000000
15504       2.000000
15505     100.000000
15506       2.000000
15507      49.999999
15508      20.000001
Name: amount, dtype: float64
15462      NaN
15463      NaN
15464      NaN
15465      NaN
15466      NaN
15467      NaN
15468      NaN
15469      NaN
15470      6.2
15471     10.0
15472     10.0
15473     10.0
15474     10.0
15475      NaN
15476    154.0
15477    154.0
15478    154.0
15479    154.0
15480    153.0
15481    153.0
15482      NaN
15483      NaN
15484      NaN
15485    127.0
15486    127.0
15487    103.0
15488    103.0
15489    103.0
15490    103.0
15491      NaN
15492      NaN
15493      NaN
15494      NaN
15495      NaN
15496      NaN
15497      NaN
15498      NaN
15499      NaN
15500    148.0
15501      5.0
15502      5.0
15503      NaN
15504      NaN
15505      NaN
15506      NaN
15507      8.0
15508      8.0
Name: valuenum, dtype: float64


Group 10009049:
16105     40.583335
16106      1.000000
16107      1.000000
16108    959.417046
16109     49.969618
16110      1.000000
16111     50.000000
16112      1.000000
16113    999.999962
16114    950.029988
16115    999.999962
16116      1.000000
16117    200.000000
16118    200.000000
Name: amount, dtype: float64
16105      NaN
16106     87.0
16107      1.0
16108      NaN
16109      NaN
16110     83.0
16111     83.0
16112    103.0
16113     21.0
16114     21.0
16115      NaN
16116      NaN
16117      NaN
16118      NaN
Name: valuenum, dtype: float64


Group 10009628:
14175    285.714280
14176     18.013632
14177     28.571429
14178      4.323272
14179    450.000000
            ...
14306    150.000006
14307      1.000000
14308     40.000003
14309     10.000000
14310     20.000000
Name: amount, Length: 136, dtype: float64
14175    79.0
14176    79.0
14177    79.0
14178    79.0
14179    79.0
         ...
14306    99.3
14307    99.3
14308    99.3
14309     0.0
14310    53.0
Name: valuenum, Length: 136, dtype: float64


Group 10010471:
14470    10.625000
14471     0.340000
14472     0.719624
14473    22.488259
14474     0.120000
           ...
14633     0.500000
14634     0.500000
14635     2.075000
14636    10.375000
14637     0.500000
Name: amount, Length: 168, dtype: float64
14470     NaN

In [90]:
X_train

array([[ 90.],
       [ 33.],
       [ 90.],
       [104.],
       [ 90.],
       [ 90.],
       [ 33.],
       [104.],
       [104.],
       [ 90.],
       [ 54.],
       [ 76.],
       [ 78.],
       [ 76.],
       [ 45.],
       [ 90.],
       [ 90.],
       [ 45.],
       [ 54.]])

In [101]:
#supervised learning model 2: Support Vector Regression
X_train = np.array(X_train).reshape(-1,1)
X_test = np.array(X_test).reshape(-1,1)
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVR

# create an SVR model with a linear kernel
svr = SVR(kernel='linear')

# train the model on the data
svr.fit(X_train, y_train)

# make predictions on the data
y_pred = svr.predict(X_test)

In [73]:
#lstm - can be added to maintain memory of past medical history of patient


# Extracting and converting only one group (e.g., 'A')
group_patient_df = grouped_df_patients.get_group(10039997).reset_index(drop=True)

# Now group_a_df is a regular DataFrame containing only the 'A' group
print(group_patient_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   itemid_x                    35 non-null     int64
 1   label_x                     35 non-null     object
 2   category_x                  35 non-null     object
 3   storetime                   35 non-null     datetime64[ns]
 4   amount                      35 non-null     float64
 5   amountuom                   35 non-null     object
 6   rate                        12 non-null     float64
 7   rateuom                     12 non-null     object
 8   ordercategoryname           35 non-null     object
 9   secondaryordercategoryname  19 non-null     object
 10  itemid_y                    35 non-null     int64
 11  label_y                     35 non-null     object
 12  category_y                  35 non-null     object
 13  subject_id                  35 non-null     int64
 14  hadm_id                     35 non-null     int64
 15  stay_id                     35 non-null     int64
 16  charttime                   35 non-null     object
 17  value                       35 non-null     object
 18  valuenum                    17 non-null     float64
 19  valueuom                    13 non-null     object
 20  warning                     35 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(5), object(11)
memory usage: 5.9+ KB
None

In [79]:
[X_train_patient, X_test_patient, y_train_patient, y_test_patient] = split_dataset(group_patient_df['valuenum'], group_patient_df['amount'])

In [81]:
X_train_patient

0      96.2
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      0.0
11      NaN
12      NaN
13      3.0
14      3.0
15      NaN
16      NaN
17     15.0
18    110.0
19    110.0
20    110.0
21      NaN
22      NaN
23     97.2
24     97.2
25    145.0
26    145.0
27    145.0
Name: valuenum, dtype: float64

In [72]:
#rnn
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

model = Sequential()
model.add(LSTM(units=50, input_shape=(group_patient_df, 20)))
model.add(Dense(units=output_dim))
model.compile(optimizer='adam', loss='mean_squared_error')

model.fit(X_train, y_train, epochs=10, batch_size=5)

loss = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss}")

NameError: ignored

In [71]:
#reinforcement learning implementation